
$color-bg:(
    principal: #007bff,
    secundario: #999ca0
);

/*EXTEND*/


%flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
};



$tamano-tipografia:(
    tituloppl: 70px,
    titulos: 50px,
    subtitulos: 16px,
    parrafos: 14px,

)



   
    

    







 

